header.test
  .test__col--info
    h3 ISEE MIDDLE #1
    h1.top SECTION1: VERBAL REASONING

  .test__col--controls
    .test__timer
      .form-group: input
      h4.no-margin TIME REMAINING

    .test__controls
      .col--half: .test__button
        i.fa.fa-pause
        | PAUSE SECTION
      .col--half: .test__button
        i.fa.fa-share-square-o
        | END SECTION


.row
  .pagination-container
    ul.pagination
      each page, i in public._data.pages
        li: a.q-link(href="#", class=page.class) #{i + 1}

.row-question(ng-app='questions', ng-controller='question')
  .col-question()
    | {{question.id}} &nbsp;
    span(ng-bind-html='question.question')

  .col-answers
    each answer in public._data.question.answers
      .row-answer
        .col-letter
          .answer-letter #{answer.label}

        .col-answer(class=answer.class)
          h4.answer-text #{answer.text}


    .answer-controls
      .text-center
        .btn.btn-default.btn-xs
          .fa.fa-flag
          |  Flag Question

      .row.controls
        .col-xs-5.col-xs-offset-1
          .btn.btn-block.btn-default PREV. QUESTION
        .col-xs-5
          .btn.btn-block.btn-primary NEXT QUESTION
